@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'NinjaNaruto';
  src: url('/fonts/NinjaNaruto-YOn4.ttf') format('truetype');
}
@font-face {
  font-family: 'OnePiece';
  src: url('/fonts/OnePiece-zAqL.ttf') format('truetype');
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "NinjaNaruto";
    color:black;
    overflow: hidden;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
main {
  animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 600px 0;
  }
}
.skew
{
  transform: skew(-20deg);
}
.text-outline {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
@media (max-width: 767px) {
  header
  {
    z-index: 1;
  }
.text-4xl {
    font-size: 1.25rem/* 36px */;
    line-height: 1.5rem/* 40px */;
}
  body {
    overflow: scroll;
  }
.skew
{
  transform: skew(-10deg);
}
}